POSTGRES_DB=booker_tee
POSTGRES_USER=booker_tee
POSTGRES_PASSWORD=booker_tee
DATABASE_URL=postgresql+asyncpg://booker_tee:booker_tee@localhost:5433/booker_tee

BOOKER_TEE_APP_NAME=Booker Tee
BOOKER_TEE_DEBUG=true
BOOKER_TEE_DEV_USER_EMAIL=dev@booker-tee.local
BOOKER_TEE_APP_PORT=8000
BOOKER_TEE_POSTGRES_PORT=5433
