{% from "imports/_action_details.html" import import_action_details %}

<div class="toolbar">
  <div>
    <p class="eyebrow">{{ review_page.header.status_label }}</p>
    <h1>{{ review_page.header.title }}</h1>
  </div>
  <div class="import-page-actions">
    {% call import_action_details(review_page.header.actions_label) %}
      {% set action = review_page.header.apply_rules_action %}
      {% include "ui/_action.html" %}
      {% set action = review_page.header.back_action %}
      {% include "ui/_action.html" %}
      <details class="technical-details import-hidden-technical-details">
        <summary>{{ review_page.header.technical_title }}</summary>
        <span>{{ review_page.header.document_id_label }}</span>
        {% set action = review_page.header.open_document_action %}
        {% include "ui/_action.html" %}
      </details>
    {% endcall %}
  </div>
</div>
