<div class="mapping-suggestion mapping-suggestion--proposal">
  <strong class="mapping-suggestion__title">{{ suggestion.title }}</strong>
  {% if suggestion.reasons %}
    <ul class="mapping-suggestion__reasons">
      {% for reason in suggestion.reasons %}
        <li class="mapping-suggestion__reason">{{ reason.message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  {% if suggestion.warnings %}
    <div class="review-flags mapping-suggestion__warnings">
      {% for warning in suggestion.warnings %}
        <span class="mapping-suggestion__warning">{{ warning.message }}</span>
      {% endfor %}
    </div>
  {% endif %}
</div>
